* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html, body {
  width: 100vw;
  height: 100vh;
}
body {
  background-color: #efe9e9;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}
.body-hint {
  margin: 20px auto;
  padding: 10px;
  width: min(820px, 94vw);
  font-weight: 100;
}
.body-hint::before {
  content: '*';
}
main {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.popup-title {
  padding: min(10px, 2vw);
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: center;
}
.popup-button {
  height: fit-content;
  margin: 0 100%;
}
.disclaimer {
    display: none;
}
